@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Ekiti_Layout.cshtml";
}
<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">
                oops! something went wrong please ensure to enter the right parameters
            </div>
        </div>


    </div>

</section>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pad-top">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">ERROR!!!</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dataTables_length" id="example4_length">
                                    <p1>
                                        Oops! Something went wrong.
                                        Please ensure to fill in the right parameters.
                                    </p1>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>